@{
	ViewData["Title"] = "Sobre Mim";
}
<h1>@ViewData["Title"]</h1>

<div class="container py-5">
	<div class="row">
		<div class=" col-12 col-md-3 text-center fw-bold">
			<div>
				<h1 class="card-title"><i class="bi bi-book-half"></i>Enzo</h1>
				<img src="~/img/pfp.jpg" class="img-thumbnail" alt="PerfilEnzo">
				<h2 class="my-1">Sociais</h2>
				@* <a href="https://www.tiktok.com/@@kyderon?is_from_webapp=1&sender_device=pc"><i class="bi bi-tiktok display-4 mx-3 text-dark"></i></a> *@
				<a href="https://github.com/EnzoNicoletti"><i class="bi bi-github display-4 mx-3 text-dark"></i></a>
				<div class="card col-12">
					<img src="~/img/card.png" class="card-img-top" alt="CardHobby">
					<div class="card-body mt-2">
						<h5 class="card-title">Interesses</h5>
						<p class="card-text">Além de me interessar por programação, gosto também bastante de jogos, com destaque nos jogos da Nintendo e os Soulslikes da Fromsoftware. Surpreendentemente, já platinei Elden ring e Nightreign. <i class="bi bi-trophy-fill"></i></p>
					</div>
				</div>
			</div>
		</div>
		<div class="card shadow-sm h-100 col-12 col-md-9 mb-3">
			<div class="card-body">
				<h5>Olá, sou o Enzo, aluno do curso técnico SENAI Desenvolvimento de Sistemas. No curso, aprendo muito sobre diversos conceitos de programação atravéz de atividades práticas e explicações detalhadas dos professores, é através desse curso que pretendo adquirir uma carreira na área de programação, que venho me interessando a um bom tempo.</h5>
				<p>Foi através dos conhecimentos adquiridos durante as aulas que conseguir criar este pequeno site, apresentando poucos porém interessantes aspectos de HTML e C# que os professores ensinaram. É com projetos como esse que planejo criar um bom currículo para uma vaga de programador, dando sempre 101% de mim mesmo sempre que possível.</p>
				<img class="w-100" src="~/img/bg.jpg" />
			</div>
		</div>
	</div>
</div>
